@import url(./index.css);

@media (min-width: 1440px) {
  .header {
    max-width: 1360px;

    margin: 24px auto 70px auto;
    padding: 0 40px;
  }

  .hero {
    max-width: 1145px;
    margin: auto;

    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-desktop {
    display: flex;
  }

  .hero-article {
    margin-top: 100px;

    align-items: flex-start;
  }

  .hero-article-p {
    width: 445px;

    margin: 48px 0 51px 0;
    text-align: left;
  }

  .hero-article-button {
    width: 136px;
    height: 48px;

    color: var(--almost-white);
    background-color: var(--almost-black);
    border: none;
  }

  .clients {
    width: 478px;

    margin: 108px 0 0 0;
  }

  .client-logo-databiz {
    width: 113px;
    height: 20px;
  }

  .client-logo-audiophile {
    width: 73px;
    height: 36px;
  }

  .client-logo-meet {
    width: 89px;
    height: 20px;
  }

  .client-logo-maker {
    width: 82px;
    height: 24px;
  }
}
