* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Epilogue";
}

:root {
  --almost-white: #fafafa;
  --light-grey: #adadad;
  --medium-grey: #686868;
  --almost-black: #151515;
  --indigo: #726cee;
  --light-blue: #4bb1da;
  --yellow: #edd556;
  --purple: #8e4cb6;
  --pure-white: #fff;
}

li,
a,
.mobile-register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  color: var(--medium-grey);
  font-size: 14px;
  line-height: 16px;
}

h1 {
  color: var(--almost-black);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

p {
  color: var(--medium-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  border-radius: 15px;
}

@media (min-width: 1440px) {
  h1 {
    width: 540px;
    font-size: 80px;
    line-height: 80px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }
}
