* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --almost-white: #fafafa;
  --light-grey: #adadad;
  --medium-grey: #686868;
  --almost-black: #151515;
  --indigo: #726cee;
  --light-blue: #4bb1da;
  --yellow: #edd556;
  --purple: #8e4cb6;
  --pure-white: #fff;
}

/* @media (min-width: 1440px) {
} */
