.mobile-drawer {
  display: none;
}

.mobile-menu-container {
  width: 240px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  background-color: var(--pure-white);
}

.mobile-menu-close {
  margin: 22px 20px 32px 0;
  float: right;
}

.mobile-menu {
  margin: 78px 0 0 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-links {
  justify-content: flex-start;
}

.mobile-sub-menu {
  margin-left: 24px;

  display: none;
  flex-direction: column;
  gap: 16px;
}

.mobile-menu-buttons {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.mobile-register-button {
  width: 195px;
  height: 42px;

  background-color: var(--pure-white);
  border: 1px solid var(--almost-black);
  font-weight: 400;
}

.mobile-menu-overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--almost-black);
  opacity: 80%;
}

.header {
  max-width: 420px;
  margin: 16px auto 24px auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-links {
  display: none;
}

.header-login {
  display: none;
}

.hero {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.hero-img-mobile {
  width: 375px;
  height: 281px;
}

.hero-img-desktop {
  width: 480px;
  height: 640px;

  display: none;
}

.hero-article {
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-article-p {
  width: 343px;

  margin: 16px 0 24px 0;
  text-align: center;
}

.hero-article-button {
  width: 136px;
  height: 48px;

  color: var(--almost-white);
  background-color: var(--almost-black);
  border: none;
}

.hero-article-button:hover {
  color: var(--almost-black);
  background-color: var(--pure-white);
  border: 1px solid var(--almost-black);
}

.clients {
  width: 343px;
  margin: 48px auto;

  display: flex;
  justify-content: space-between;
}

.client-logo-databiz {
  width: 81px;
  height: 14px;
}

.client-logo-audiophile {
  width: 53px;
  height: 26px;
}

.client-logo-meet {
  width: 64px;
  height: 14px;
}

.client-logo-maker {
  width: 59px;
  height: 17px;
}
